<!DOCTYPE html>
<html>
  	<head>
		<style>
			body{
				background: skyblue;
				font-family: verdana;
				color: #fff;
				padding: 30px;
			}
			
			h1{
				font-size: 48px;
				text-transform: uppercase;
				letter-spacing:2px;
				text-align: center;
			}

			p{
				font-size: 16px;
				text-align: center;
			}
		</style>
	</head>	
<body>
	<%include partials/nav.ejs%>
	<h1>63526 47 2 2-56837</h1>
	<p>Contact us to help you .falfdajflafafafalfjadf<p>
</body>
</html>
