<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/style.css" rel="stylesheet" type="text/css">
	</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Welcome to the place where all the 2-56837 ENJOY To Write LL e.g. Nelan Ngo who is a 27736259 56837 Way too much.</h1>
	<p>No Other better place</p>
</body>
</html>

